<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../../webapp/styles/styles.css">
    <link rel="stylesheet" href="../../webapp/styles/styleDetalle.css">
    <link rel="stylesheet" href="../../webapp/styles/stylesHeaderFooter.css">
    <title>Detalle | CAC-SPA</title>
</head>

<body>
    <header>
        <div class="header">

            <div class="logo">
                <h1 class="h1Logo"><a href="./inicio.html" class="aLogo">CaCSpa</a></h1>
            </div>
            <nav class="navHeader">
                <ul class="ulNav">
                    <a href="./registro.html" class="aNav">
                        <li class="liNav">Registrarse</li>
                    </a>
                    <a href="./inicioSesion.html" class="aNav">
                        <li class="liNav iniciarSesion">Iniciar Sesión</li>
                    </a>
                    <a href="./consultaApi.html" class="aNav">
                        <li class="liNav iniciarSesion">Consultar Api</li>
                    </a>
                </ul>
            </nav>
        </div>

    </header>

    <main>
        <div class="contenedorDetalle" id="main">

            <div class="servicioDetalle">

                <div class="imgDetalle">
                    <img src="../../webapp/assets/tratamiento4.webp" alt="imagenTratamiento">
                </div>


                <div class="textoDetalle">
                    <h1>Masaje con piedras calientes: </h1>
                    <h4>¡Descubre el poder de la relajación profunda con nuestro exclusivo masaje con piedras calientes
                        en nuestro spa de lujo! Sumérgete en una experiencia única que combina la calidez reconfortante
                        de las piedras con las técnicas expertas de nuestros terapeutas.</h4><br>

                    <h4>
                        Como parte de nuestra promoción especial, al reservar tu masaje con piedras calientes, recibirás
                        un tratamiento adicional de exfoliación corporal con sales marinas para dejar tu piel suave,
                        radiante y completamente renovada.</h4><br>
                    <h4>
                        No pierdas la oportunidad de regalarte un momento de indulgencia y bienestar. Ven a nuestro spa
                        y déjate llevar por el poder curativo de las piedras calientes. ¡Tu cuerpo y mente te lo
                        agradecerán!</h4><br>
                    <h4>
                        ¡Reserva ahora y vive una experiencia de relajación incomparable en nuestro spa de primera
                        clase!.</h4>
                    <h1>Nuestros profesionales</h1>

                    <div class="profesionalesDetalle">
                        <div class="textoProfe">
                            <h2>Joaquin Garrido</h1>
                                <p>Masoterapeuta</p>
                        </div>
                        <div class="textoProfe">
                            <h2>Rosa Del Valle</h1>
                                <p>Quiropráctica</p>
                        </div>
                        <div class="textoProfe">
                            <h2>Ester Dos Santos</h1>
                                <p>Masoterapeuta</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <section class="redesSociales">

            <div class="videoRelajacion">
                <h2>Masaje con piedras calientes</h2>
                <iframe class="video" width="340" height="340"
                    src="https://www.youtube.com/embed/MH_XeZJX_LY?si=aEupcTipFBkNodhw" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="redesDetalle">
                <div class="tituloRedes">
                    <h2>- Siguenos en nuestras redes:</h2>
                </div>
                <ul>
                    <li><a href="https://www.facebook.com/"><img src="../../webapp/assets/facebook-circle-logo-72.png"
                                alt="logoFacebook"></a></li>
                    <li><a href="https://twitter.com/"><img src="../../webapp/assets/twitter-logo-72.png" alt="logoTwiter"> </a>
                    </li>
                    <li><a href="https://instagram.com/"></a><img src="../../webapp/assets/instagram-alt-logo-72.png"
                            alt="logoInstagram"></li>
                    <li><a href="https://www.youtube.com/"><img src="../../webapp/assets/youtube-logo-72.png"
                                alt="logoYotube"></a>
                    </li>
                </ul>

                <div class="horariosDetalles">
                    <h2>- Días y horarios de antención:</h2>
                    <h3>- Lunes a Miércoles incluyendo Feriados de 9 a 21 horas</h3>
                </div>
            </div>
        </section>

    </main>
    <footer class="footer">
        <nav class="footerNavegacion">
            <ul class="footerLista">
                <li class="footerListaItem">
                    <a href="/" class="footerLink">Terminos y condiciones</a>
                </li>
                <li class="footerListaItem">
                    <a href="/" class="footerLink">Preguntas frecuentes</a>
                </li>
                <li class="footerListaItem">
                    <a href="/" class="footerLink">Ayuda</a>
                </li>
                <li class="footerListaItem">
                    <a href="../index.html" class="footerLink">Landing Page</a>
                </li>
            </ul>
        </nav>
        <a href="#main" class="volverInicio">
            <img src="../../assets/flechaArriba.png" alt="flecha volver inicio">
        </a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

</body>

</html>