<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../../styles/styles.css">
    <link rel="stylesheet" href="../../styles/stylesHeaderFooter.css">
    <link rel="stylesheet" href="../../styles/stylesEspecialistas.css">
    <title>Codo a Codo SPA</title>
</head>

<body>
    <header>

        <div class="header">

            <div class="logo">
                <h1 class="h1Logo"><a href="/inicio.html" class="aLogo">CaCSpa</a></h1>
            </div>
            <nav class="navHeader">
                <ul class="ulNav">
                    <a href="#Tratamientos" class="aNav">
                        <li class="liNav">Tratamientos</li>
                    </a>
                    <a href="#NuestrosEspecialistas" class="aNav">
                        <li class="liNav">Nuestros Espacialistas</li>
                    </a>
                    <a href="./registro.html" class="aNav">
                        <li class="liNav">Registrarse</li>
                    </a>
                    <a href="./inicioSesion.html" class="aNav">
                        <li class="liNav iniciarSesion">Iniciar Sesión</li>
                    </a>
                    <a href="./consultaApi.html" class="aNav">
                        <li class="liNav iniciarSesion">Consultar Api</li>
                    </a>
                    <a href="./adminUser.html" class="aNav">
                        <li class="liNav iniciarSesion">Lista de Usuarios</li>
                    </a>
                </ul>
            </nav>
        </div>

    </header>
    <main id="main">
        <section class="inicio">
            <h1 class="tituloPrincipal">Masajes y tratamientos relajantes
                <br>
                para un relax profundo</h1>
            <h2 class="subTituloPrincipal">Nuestros especialistas.
                <br>
                te estan esperando.</h2>
        </section>
        <section class="buscar">
            <h2 class="tituloBuscador">¿Qué Tratamiento estas buscando?</h2>
            <form action="" class="formularioBuscador">
                <input type="text" name="buscar" id="buscador" class="textoBuscar">
                <input type="submit" value="Buscar" class="botonBuscar">
            </form>
        </section>
        <hr>
        <section class="tendencias" id="Tratamientos">
            <h2 class="tituloSection">Tratamientos más pedidos</h2>
            <div class="contenedorTendencias">
                <div class="cajaTendencia">
                    <a href="detalle.html">
                        <div class="tratamiento">
                            <img src="../../assets//tratamiento1.jpg" class="imagenTratamiento" alt="tratamiento spa 1">
                            <div class="nombreTratamiento">
                                <h3>Tratamiento de aromaterapia</h3>
                            </div>
                            <p class="textoTratamiento">Tratamiento de aromaterapia</p>
                        </div>
                    </a>
                </div>
                <div class="cajaTendencia">
                    <a href="detalle.html">
                        <div class="tratamiento">
                            <img src="../../assets//tratamiento2.jpg" class="imagenTratamiento" alt="tratamiento spa 2">
                            <div class="nombreTratamiento">
                                <h3>Masaje relajante</h3>
                            </div>
                            <p class="textoTratamiento">Masaje relajante</p>
                        </div>
                    </a>
                </div>
                <div class="cajaTendencia">
                    <a href="detalle.html">
                        <div class="tratamiento">
                            <img src="../../assets//tratamiento1.jpg" class="imagenTratamiento" alt="tratamiento spa 1">
                            <div class="nombreTratamiento">
                                <h3>Envoltura de algas</h3>
                            </div>
                            <p class="textoTratamiento">Envoltura de algas</p>
                        </div>
                    </a>
                </div>
                <div class="cajaTendencia">
                    <a href="detalle.html">
                        <div class="tratamiento">
                            <img src="../../assets/tratamiento3.jpg" class="imagenTratamiento" alt="tratamiento spa 2">
                            <div class="nombreTratamiento">
                                <h3>Exfoliación corporal</h3>
                            </div>
                            <p class="textoTratamiento">Exfoliación corporal</p>
                        </div>
                    </a>
                </div>
                <div class="cajaTendencia">
                    <a href="detalle.html">
                        <div class="tratamiento">
                            <img src="../../assets/tratamiento3.webp" class="imagenTratamiento" alt="tratamiento spa 1">
                            <div class="nombreTratamiento">
                                <h3>Facial rejuvenecedor</h3>
                            </div>
                            <p class="textoTratamiento">Facial rejuvenecedor</p>
                        </div>
                    </a>
                </div>
                <div class="cajaTendencia">
                    <a href="detalle.html">
                        <div class="tratamiento">
                            <img src="../../assets/tratamiento4.webp" class="imagenTratamiento" alt="tratamiento spa 2">
                            <div class="nombreTratamiento">
                                <h3>Masaje con piedras calientes</h3>
                            </div>
                            <p class="textoTratamiento">Masaje con piedras calientes</p>
                        </div>
                    </a>
                </div>
                <div class="cajaTendencia">
                    <a href="detalle.html">
                        <div class="tratamiento">
                            <img src="../../assets/tratamiento5.webp" class="imagenTratamiento" alt="tratamiento spa 1">
                            <div class="nombreTratamiento">
                                <h3>Tratamiento de aromaterapia</h3>
                            </div>
                            <p class="textoTratamiento">Tratamiento de aromaterapia</p>
                        </div>
                    </a>
                </div>
                <div class="cajaTendencia">
                    <a href="detalle.html">
                        <div class="tratamiento">
                            <img src="../../assets/tratamiento6.webp" class="imagenTratamiento" alt="tratamiento spa 2">
                            <div class="nombreTratamiento">
                                <h3>Hidroterapia</h3>
                            </div>
                            <p class="textoTratamiento">Hidroterapia</p>
                        </div>
                    </a>
                </div>
            </div>
            <input type="button" value="Anterior" class="botonTendencias">
            <input type="button" value="Siguiente" class="botonTendencias">
        </section>
        <hr>
        <section class="outer-container">
            <h3 id="NuestrosEspecialistas" class="tituloSection">Nuestros Especialistas</h3>
            <div class="contenedor">
                <div class="caja">
                    <img src="../../assets/Trabajador3.jpeg" class="imagenDoctor" alt="doctor 1">
                    <div class="datosDoctor">
                        <p class="nombreEspecialista">Nombre:<br>Diego</p>
                        <p class="rubroEspecialista">Rubro:<br></p>
                    </div>
                </div>
                <div class="caja">
                    <img src="../../assets/Trabajador4.jpeg" class="imagenDoctor" alt="doctor 2">
                    <div class="datosDoctor">
                        <p class="nombreEspecialista">Nombre:<br>Cesia</p>
                        <p class="rubroEspecialista">Rubro:<br></p>
                    </div>
                </div>
                <div class="caja">
                    <img src="../../assets/Trabajador5.jpeg" class="imagenDoctor" alt="doctor 1">
                    <div class="datosDoctor">
                        <p class="nombreEspecialista">Nombre:<br>Lautaro</p>
                        <p class="rubroEspecialista">Rubro:<br></p>
                    </div>
                </div>
                <div class="caja">
                    <img src="../../assets/Trabajador6.jpeg" class="imagenDoctor" alt="doctor 2">
                    <div class="datosDoctor">
                        <p class="nombreEspecialista">Nombre:<br></p>
                        <p class="rubroEspecialista">Rubro:<br></p>
                    </div>
                </div>
                <div class="caja">
                    <img src="../../assets/doctor1.jpg" class="imagenDoctor" alt="doctor 1">
                    <div class="datosDoctor">
                        <p class="nombreEspecialista">Nombre:<br></p>
                        <p class="rubroEspecialista">Rubro:<br></p>
                    </div>
                </div>
                <div class="caja">
                    <img src="../../assets/doctor2.jpg" class="imagenDoctor" alt="doctor 2">
                    <div class="datosDoctor">
                        <p class="nombreEspecialista">Nombre:<br></p>
                        <p class="rubroEspecialista">Rubro:<br></p>
                    </div>
                </div>
                <div class="caja">
                    <img src="../../assets/doctor1.jpg" class="imagenDoctor" alt="doctor 1">
                    <div class="datosDoctor">
                        <p class="nombreEspecialista">Nombre:<br></p>
                        <p class="rubroEspecialista">Rubro:<br></p>
                    </div>
                </div>
                <div class="caja">
                    <img src="../../assets/doctor2.jpg" class="imagenDoctor" alt="doctor 2">
                    <div class="datosDoctor">
                        <p class="nombreEspecialista">Nombre:<br></p>
                        <p class="rubroEspecialista">Rubro:<br></p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <nav class="footerNavegacion">
            <ul class="footerLista">
                <li class="footerListaItem">
                    <a href="/" class="footerLink">Terminos y condiciones</a>
                </li>
                <li class="footerListaItem">
                    <a href="/" class="footerLink">Preguntas frecuentes</a>
                </li>
                <li class="footerListaItem">
                    <a href="/" class="footerLink">Ayuda</a>
                </li>
                <li class="footerListaItem">
                    <a href="./index.html" class="footerLink">Landing Page</a>
                </li>
            </ul>
        </nav>
        <a href="#main" class="volverInicio">
            <img src="../../assets//flechaArriba.png" alt="flecha volver inicio">
        </a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

</body>

</html>