<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/styles.css">
    <link rel="stylesheet" href="../../styles/stylesHeaderFooter.css">
    <link rel="stylesheet" href="../../styles/styleRegistro.css">

<body>
    <header>

        <div class="header">

            <div class="logo">
                <h1 class="h1Logo"><a href="./inicio.html" class="aLogo">CaCSpa</a></h1>
            </div>
            <nav class="navHeader navHeaderRegistro">
                <ul class="ulNav">
                    <a href="./inicioSesion.html" class="aNav">
                        <li class="liNav iniciarSesion">Iniciar Sesión</li>
                    </a>
                </ul>
            </nav>
        </div>

    </header>

    <main class="registro">

        <div class="container">
            <h3>Registro</h3>
            <form id="usuarioForm">
                <input type="text" placeholder="Nombre" id="nombre" name="nombre">
                <span id="errorNombre" class="mensajeError"></span>
                <input type="text" placeholder="Apellido" id="apellido" name="apellido">
                <span id="errorApellido" class="mensajeError"></span>
                <input type="email" placeholder="Email" id="email" name="email">
                <span id="errorEmail" class="mensajeError"></span>
                <input type="password" placeholder="Contraseña" id="password" name="pass">
                <span id="errorPass" class="mensajeError"></span>
                <input type="date" id="fechaNac" name="fecha_nac">
                <span id="errorFechaNac" class="mensajeError"></span>
                <input type="text" placeholder="Pais" id="pais" name="pais">
                <span id="errorPais" class="mensajeError"></span>
                <div class="terminos">
                    <input class="check" type="checkbox" id="check">
                    <label class="textoCheck" for="check">Acepto términos y condiciones</label>
                </div>
                <span id="errorCheck" class="mensajeError"></span>
                <button class="registrar" type="submit">Registrar</button>
                <!-- <input class="registrar" type="button" onclick='return enviar()' value="Registrarse"> -->

            </form>

        </div>


    </main>

    <script src="../scripts/script.js"></script>
    <script src="../../Js/registro.js"></script>

</body>

</html>