* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

:root {

    --color-header-footer: #97C4D7;
    --color-body: #CED9DC;
}
body {
    background-color: var(--color-body);
}

@keyframes animationHeader {

    0% {

        top: -10rem;
        opacity: 0;
    }
    100% {

        top: 0;
        opacity: 1;
    }
}

.header {

    background-color:  var(--color-header-footer) !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    animation-name: animationHeader;
    animation-duration: 2s;
    position: fixed;
    z-index: 1;
}

.logo {

    display: flex;
    justify-content: center;
    align-items: center;
}

.h1Logo {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aLogo {
    
    color: #000000;
    background-color: #ffffff;
    font-size: 1.5rem;
    border: solid 3px #000000;
    border-radius: 50%;
    padding: 10px;
    margin: 5px 0;
}

@keyframes logoHeader {

    from{
        transform: rotate(5deg) translate(10px, 5px);
    }
    to{
        transform:translate(-10px, 5px) rotate(-5deg);
    }
}

.aLogo:hover {

    animation-name: logoHeader;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

.navHeader {

    height: 10vh;
    justify-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.ulNav {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    list-style-type: none;
    width: 100%;
}

.liNav {

    display: inline-block;
    padding: 8px 15px;
    text-align: center;
    border-radius: 5px;
    transition: box-shadow 0.5s, background-color 0.5s;
}

.liNav:hover {

    background-color: var(--color-body);
    box-shadow: 0px 0px 10px #000000;
    color: #000000;
    transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

.iniciarSesion {

    background-color: #7195AF;
    transition: background-color 1s;
}

.iniciarSesion:hover {

    background-color: var(--color-body);
    transition: background-color 0.5s ease;
}

.aNav {

    font-size: 2.4vw;
    font-weight: 700;
    color: white;
}

.aNav:hover{

    color: #000000;
    transition: color 0.5s ease;
}

.footer{
    background-color: var(--color-header-footer);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLista{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.footerListaItem{
    margin: 10px 20px;
}

.footerLink{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}

.linkDeshabilitado{
    opacity: 0;
    pointer-events: none;
}

@media screen and (min-width:769px){

    @keyframes animationHeader {

        0% {
    
            top: -6rem;
            opacity: 0;
        }
        100% {
    
            top: 0;
            opacity: 1;
        }
    }

    .header {

        background-color: var(--color-header-footer);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
        animation-name: animationHeader;
        animation-duration: 5s;
        z-index: 1000;
    }
    
    .logo {
    
        width: 20%;
        margin: 0rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .h1Logo {
    
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .aLogo {
        
        color: #000000;
        background-color: #ffffff;
        font-size: 1.5rem;
        border: solid 3px #000000;
        border-radius: 50%;
        padding: 10px;
    }
    .aLogo:hover {

        animation-name: logoHeader;
        animation-duration: 0.3s;
        animation-iteration-count: infinite;
    }
    
    .navHeader {
    
        width: 35rem;
        justify-self: flex-end;
        align-self: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 4rem;
    }
    
    .ulNav {
    
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        list-style-type: none;
        width: 100%;
    }
    
    .liNav {
    
        display: inline-block;
        padding: 0.3rem 0.4rem;
        text-align: center;
        border-radius: 5px;
        transition: box-shadow 0.5s, background-color 0.5s;
    }

    .aNav {

        font-size: 1rem;
        font-weight: 700;
        color: white;
    }
}